---
layout: default
---

<div class="container">
    <h1>分类列表</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>标题</th>
            <th>创建时间</th>
            <th class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">分类<strong class="caret"></strong></a>
                <ul class="dropdown-menu container-fluid" style="border-radius: 6px 6px 6px 6px;">
                    {% for category in site.categories %}
                    <li><a>{{ category | first }}</a></li>
                    {% endfor %}
                </ul>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for post in site.posts %}
        <tr>
            <th>百哥么么哒</th>
            <th>{{ post.title }}</th>
            <th>{{ post.date | date: " %Y-%m-%d" }}</th>
            {% endfor %}
            <th></th>
        </tr>
        </tbody>
    </table>

</div>
