---
layout: default
---

<link rel="stylesheet" href="static/css/main.css"/>
<!-- Scripts -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/skel.min.js"></script>
<script src="static/js/util.js"></script>
<script src="static/js/main.js"></script>

<body>
	<br /><br /><br />
	<div class="htmleaf-container">
		<div class="htmleaf-content">
			<div id="posterTvGrid" style="margin:40px auto 0 auto;"></div>
		</div>
	</div>
	
	<script>window.jQuery || document.write('<script src="static/js/jquery.min.js"><\/script>')</script>
	<script type="text/javascript" src="static/js/posterTvGrid.js"></script>
	<script type="text/javascript">
	var posterTvGrid = new posterTvGrid('posterTvGrid',{className: "posterTvGrid"},[
			{"img":"static\/jpg\/1.jpg","title":"百哥么么哒","url":"https:\/\/ttyb.github.io\/"},
			{"img":"static\/jpg\/2.jpg","title":"百哥么么哒","url":"https:\/\/ttyb.github.io\/"},
			{"img":"static\/jpg\/3.jpg","title":"百哥么么哒","url":"https:\/\/ttyb.github.io\/"},
			{"img":"static\/jpg\/4.jpg","title":"百哥么么哒","url":"https:\/\/ttyb.github.io\/"},
			{"img":"static\/jpg\/5.jpg","title":"百哥么么哒","url":"https:\/\/ttyb.github.io\/"},
			{"img":"static\/jpg\/6.jpg","title":"百哥么么哒","url":"https:\/\/ttyb.github.io\/"},
			{"img":"static\/jpg\/7.jpg","title":"百哥么么哒","url":"https:\/\/ttyb.github.io\/"},
			{"img":"static\/jpg\/8.jpg","title":"百哥么么哒","url":"https:\/\/ttyb.github.io\/"},
			{"img":"static\/jpg\/9.jpg","title":"百哥么么哒","url":"https:\/\/ttyb.github.io\/"},
			{"img":"static\/jpg\/10.jpg","title":"百哥么么哒","url":"https:\/\/ttyb.github.io\/"},
			{"img":"static\/jpg\/11.jpg","title":"百哥么么哒","url":"https:\/\/ttyb.github.io\/"},
		]
	);
	</script>
	
	<!-- Wrapper -->
<div id="wrapper">

    <!-- Banner -->
    <section id="intro" class="main">
        <!--<span class="icon fa-diamond major"></span>-->
        <img src="static/jpg/head.jpg" alt=""/>
        <h2 style="font-family: KaiTi;">百哥么么哒</h2>
        <p>A data mining engineer who can<br/>
            analyze data, mining data,machine learning,<br/>
            programming and repair computers.</p>
        <ul class="actions">
            <li><a href="https://github.com/TTyb" class="button big">Follow</a></li>
        </ul>

    <div style="margin:20px">
        <marquee direction="left" style="font-family: KaiTi;">不用多久，我就会升职加薪，当上总经理，出任CEO，迎娶白富美，走上人生巅峰|Pretty soon I'll be promoted as CEO,General Manager and marry Bai Fu Mei on the salary increase when pinnacle toward life </marquee>
    </div>

     <link rel="stylesheet" type="text/css" href="{{ "/static/css/jqcloud.css" | prepend: site.baseurl }}" />
    <script type="text/javascript" src="{{ "/static/js/jqcloud-1.0.4.min.js" | prepend: site.baseurl }}"></script>
    <div class="row-fluid">
        <div class="span12" id="clound" style="height:350px"></div>
    </div>
     <script type="text/javascript">
      var word_list = new Array();
        word_list =  [{% for category in site.categories %}
        {
            text: "{{ category | first }}",weight: {{ category | last | size }}, link: {href: "/showCategory.html?cat={{ category | first }}"}
        }{% if category != site.categories.last %},{% endif %}
        {% endfor %}]

      $(function() {
        $("#clound").jQCloud(word_list);
      });
    </script>

    </section>

    <!-- Items -->
    <!--<section class="main items">-->
        <!--<article class="item" style="font-family: KaiTi;">-->
            <!--<header>-->
                <!--<a href="https://ttyb.github.io/python/python3%E7%94%9F%E6%88%90%E6%A0%87%E7%AD%BE%E4%BA%91.html"><img-->
                        <!--src="static/jpg/pic01.jpg" alt=""/></a>-->
                <!--<h3>Python3 生成标签云</h3>-->
            <!--</header>-->
            <!--<p>大数据时代最喜欢玩的就是标签云，Python2有玩家搞定了库Pytagcloud。-->
                <!--但是为嘛不更新到Python3？？？于是乎，秉承大无畏的精神，作者修修补补，不辞辛苦哒，-->
                <!--生成了“百哥么么哒”标签！</p>-->
            <!--<ul class="actions">-->
                <!--<li><a href="https://ttyb.github.io/python/python3%E7%94%9F%E6%88%90%E6%A0%87%E7%AD%BE%E4%BA%91.html"-->
                       <!--class="button">Learn More</a></li>-->
            <!--</ul>-->
        <!--</article>-->
        <!--<article class="item" style="font-family: KaiTi;">-->
            <!--<header>-->
                <!--<a href="https://ttyb.github.io/python/python3%E7%99%BE%E5%BA%A6%E6%8C%87%E6%95%B0%E6%8A%93%E5%8F%96.html"><img-->
                        <!--src="static/jpg/pic02.jpg" alt=""/></a>-->
                <!--<h3>Python3 百度指数抓取</h3>-->
            <!--</header>-->
            <!--<p>土福曾说，百度指数很难抓，炫得我一脸蒙逼？什么鬼？？黑人问号？？？-->
                <!--于是哥那么叼的人，怎么可能服输，利用OCR简单图像识别数字，-->
                <!--Selenium抓取、截图到本地，啧啧啧...</p>-->
            <!--<ul class="actions">-->
                <!--<li>-->
                    <!--<a href="https://ttyb.github.io/python/python3%E7%99%BE%E5%BA%A6%E6%8C%87%E6%95%B0%E6%8A%93%E5%8F%96.html"-->
                       <!--class="button">Learn More</a></li>-->
            <!--</ul>-->
        <!--</article>-->
        <!--<article class="item" style="font-family: KaiTi;">-->
            <!--<header>-->
                <!--<a href="https://ttyb.github.io/%E6%9C%BA%E5%99%A8%E5%AD%A6%E4%B9%A0/Amazonz%E9%AA%8C%E8%AF%81%E7%A0%81%E6%9C%BA%E5%99%A8%E7%AE%97%E6%B3%95%E8%AF%86%E5%88%AB.html"><img-->
                        <!--src="static/jpg/pic03.jpg" alt=""/></a>-->
                <!--<h3>Amazon 验证码机器算法识别</h3>-->
            <!--</header>-->
            <!--<p>在抓取Amazon的商品时候，页面弹出大量验证码怎么办？-->
                <!--对此利用机器算法来训练Amazon的验证码，以达到机器自动识别验证码的目的。-->
                <!--最后结果表明，在2800多训练样本下，验证码识别率超过90%！</p>-->
            <!--<ul class="actions">-->
                <!--<li>-->
                    <!--<a href="https://ttyb.github.io/%E6%9C%BA%E5%99%A8%E5%AD%A6%E4%B9%A0/Amazonz%E9%AA%8C%E8%AF%81%E7%A0%81%E6%9C%BA%E5%99%A8%E7%AE%97%E6%B3%95%E8%AF%86%E5%88%AB.html"-->
                       <!--class="button">Learn More</a></li>-->
            <!--</ul>-->
        <!--</article>-->
        <!--<article class="item" style="font-family: KaiTi;">-->
            <!--<header>-->
                <!--<a href="https://ttyb.github.io/%E6%95%B0%E6%8D%AE%E5%88%86%E6%9E%90/python%E6%89%B9%E9%87%8F%E5%88%B6%E4%BD%9C%E9%9B%B7%E8%BE%BE%E5%9B%BE.html"><img-->
                        <!--src="static/jpg/pic04.jpg" alt=""/></a>-->
                <!--<h3>Python 批量生成雷达图</h3>-->
            <!--</header>-->
            <!--<p>在做数据分析的时候，图表结合才最有说服力，例如需要雷达图。-->
                <!--但是发现数据有好多组，估摸接近2000组，按照excel的尿性，点坏两个鼠标应该就可以制作完成了。-->
                <!--作者很懒，所有写了代码批量制作雷达图。</p>-->
            <!--<ul class="actions">-->
                <!--<li>-->
                    <!--<a href="https://ttyb.github.io/%E6%95%B0%E6%8D%AE%E5%88%86%E6%9E%90/python%E6%89%B9%E9%87%8F%E5%88%B6%E4%BD%9C%E9%9B%B7%E8%BE%BE%E5%9B%BE.html"-->
                       <!--class="button">Learn More</a></li>-->
            <!--</ul>-->
        <!--</article>-->

</div>

</body>
