---
layout: default
---
<script type="text/javascript" src="{{ "/static/js/posterTvGrid.js" | prepend: site.baseurl }}"></script>

<link rel="stylesheet" href="{{ "/static/css/main.css" | prepend: site.baseurl }}"/>
<script src="{{ "/static/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/skel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/util.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/main.js" | prepend: site.baseurl }}"></script>

<body>
	<div class="htmleaf-container">
		<div class="htmleaf-content">
			<div id="posterTvGrid" style="margin:40px auto 0 auto;"></div>
		</div>
	</div>

	<script type="text/javascript" src="{{ "/static/js/posterTvGrid.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript">
	var posterTvGrid = new posterTvGrid('posterTvGrid',{className: "posterTvGrid"},[
			{"img":"\/static\/jpg\/1.jpg","title":"百哥么么哒","url":"javascript:void(0)"},
			{"img":"\/static\/jpg\/2.jpg","title":"百哥么么哒","url":"javascript:void(0)"},
			{"img":"\/static\/jpg\/3.jpg","title":"百哥么么哒","url":"javascript:void(0)"},
			{"img":"\/static\/jpg\/4.jpg","title":"百哥么么哒","url":"javascript:void(0)"},
			{"img":"\/static\/jpg\/5.jpg","title":"百哥么么哒","url":"javascript:void(0)"},
			{"img":"\/static\/jpg\/6.jpg","title":"百哥么么哒","url":"javascript:void(0)"},

		]
	);
	</script>


<div id="wrapper">
    <section id="intro" class="main">
		<img src="/static/jpg/head.jpg" alt=""/>
        <h2 style="font-family: KaiTi;">百哥么么哒</h2>
		<p style="font:30px 'Alex Brush',cursive;color: #9da4a6;">A data mining engineer who have to<br/>
            analyze data analyze, mining data mining,learn machine learning,<br/>
            programming and repair computers.</p>

    <div style="margin:20px">
        <marquee direction="left" style="font-family: KaiTi;">不用多久，我就会升职加薪，当上总经理，出任CEO，迎娶白富美，走上人生巅峰|Pretty soon I'll General Manager,be promoted as CEO and marry Bai Fu Mei on the salary increase when pinnacle toward life </marquee>
    </div>
	
    </section>
</div>

<hr style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#0066CC,direction:145,strength:6)" width=100% color=#0066CC SIZE=1>

<div class="container">
    <div class="col-xs-7 col-sm-7 col-md-9">
		{% include indexleft.html %}
	</div>
	{% include rightmenu.html %}
</div>

</body>
