---
layout: default
---
<div class="container">
	<div class="col-xs-7 col-sm-7 col-md-9">
        <h1>开源项目</h1>
			<!--这里是github-->
			<div class="media thumbnail" style="font-family:Microsoft YaHei;padding: 20px 0;">
				<div class="col-xs-5 col-sm-5 col-md-4">
					<a href="javascript:void(0)" class="media-left media-middle media-bottom" style="float:left;">
						<img style="border-radius: 4px;" src="/static/jpg/github.jpg" height="158" width="100%"/>
					</a>
				</div>
				
				<div class="col-xs-7 col-sm-7 col-md-8">
					<div class="media-body" style="float:left;padding-right:10px">
						<h4><a href="https://github.com/TTyb" style="color:#333;font-weight:bold;font-family: Times New Roman;" target="_blank">Github</a></h4>
						<h6 class="text-muted">
						<span style="padding-right:5px">作者：TTyb</span><span class="topicc"></span>文章发表于：<span class="timet">2016-07-21</span>分类：<span class="tag">Github</span>
						</h6>
							<p style="word-wrap:break-word; word-break:normal;font-family: Times New Roman;">The Github was established in 21 Jul 2016.A data mining engineer who have to analyze data analyze, mining data mining,learn machine learning,programming and repair computers.</p>
							<h5 class="pull-right" style="width: 120px;"><a class="contactme" title="前往Github" href="https://github.com/TTyb" target="_blank">Github »</a></h5>
					</div>
				</div>
			</div>
        <hr>
        {% include comment.html %}
	</div>
    {% include rightmenu.html %}
</div>

<style>
    .text-overflow {
        display: block;
        width: 90%;
        word-break: keep-all;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
	
	.tag {
    background: url({{ "/static/jpg/tag.png" | prepend: site.baseurl }}) no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 0;
	}
	
	.timet {
    background: url({{ "/static/jpg/time.png" | prepend: site.baseurl }}) no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 0;
	}
	
	.topicc {
    background: url({{ "/static/jpg/wenzhang.gif" | prepend: site.baseurl }}) no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 0;
	}
	
</style>

