---
layout: default
---


<div class="container"">
	<div class="col-xs-7 col-sm-7 col-md-9">
        <h1 style="background-image:linear-gradient(90deg, #f79533 0px, #f37055 15%, #ef4e7b 30%, #a166ab 44%, #5073b8 58%, #1098ad 72%, #07b39b 86%, #6dba82 100%);border-radius: 4px;color: #fff">
			开源项目
		</h1>
			<!--这里是淘宝天猫商品抓取-->
			<div class="media thumbnail" style="font-family:Microsoft YaHei;padding: 20px 0;">
				<div class="col-xs-5 col-sm-5 col-md-4">
					<a href="javascript:void(0)" class="media-left media-middle media-bottom" style="text-align:center">
						<img style="border-radius: 4px;" src="/static/postimage/python/tbtmgoods/1129903454&fm=27&gp=0.jpg" height="158" width="100%"/>
					</a>
				</div>
				
				<div class="col-xs-7 col-sm-7 col-md-8">
					<div class="media-body" style="float:left;padding-right:10px">
						<h4><a href="http://www.tybai.com/python/淘宝天猫商品抓取.html" style="color:#333;font-weight:bold;font-family: Times New Roman;" target="_blank">淘宝天猫商品抓取</a></h4>
						<h6 class="text-muted">
							<i class="fa fa-user"></i>&nbsp;TTyb&nbsp;<i class="fa fa-calendar"></i>&nbsp;2017-11-11&nbsp;<i class="fa fa-tag"></i>&nbsp;python
						</h6>
							<p style="word-wrap:break-word; word-break:normal;font-family: Times New Roman;">知己知彼，百战百胜。意为如果对敌我双方的情况都能了解透彻，打起仗来百战就不会有危险。语出《孙子·谋攻篇》：“知彼知己，百战不殆；不知彼而知己，一胜一负；不知彼，不知己，每战必殆。”任何一个电子商务公司想要存活下去，必须要时时掌控市场的动态，淘宝天猫上面的商品数据刚好能满足这样子的需求，所以写下这篇抓取教程。</p>
							<h5 class="pull-right" style="width: 120px;"><a class="contactme" title="阅读全文" href="http://www.tybai.com/python/淘宝天猫商品抓取.html" target="_blank">阅读全文 »</a></h5>
					</div>
				</div>
			</div>
			<!--这里是百度指数-->
			<div class="media thumbnail" style="font-family:Microsoft YaHei;padding: 20px 0;">
				<div class="col-xs-5 col-sm-5 col-md-4">
					<a href="javascript:void(0)" class="media-left media-middle media-bottom" style="float:left;">
						<img style="border-radius: 4px;" src="/static/postimage/python/bdindex/index_logo_2x.png" height="158" width="100%"/>
					</a>
				</div>
				
				<div class="col-xs-7 col-sm-7 col-md-8">
					<div class="media-body" style="float:left;padding-right:10px">
						<h4><a href="http://www.tybai.com/python/python3%E7%99%BE%E5%BA%A6%E6%8C%87%E6%95%B0%E6%8A%93%E5%8F%96.html" style="color:#333;font-weight:bold;font-family: Times New Roman;" target="_blank">python3百度指数抓取</a></h4>
						<h6 class="text-muted">
							<i class="fa fa-user"></i>&nbsp;TTyb&nbsp;<i class="fa fa-calendar"></i>&nbsp;2016-11-12&nbsp;<i class="fa fa-tag"></i>&nbsp;python
						</h6>
							<p style="word-wrap:break-word; word-break:normal;font-family: Times New Roman;">百度指数是以百度海量网民行为数据为基础的数据分享平台。在这里,你可以研究关键词搜索趋势、洞察网民兴趣和需求、监测舆情动向、定位受众特征。作者使用python3结合selenium截取指数图片，基于OCR识别指数数字，全自动抓取多条件下的信息。</p>
							<h5 class="pull-right" style="width: 120px;"><a class="contactme" title="阅读全文" href="http://www.tybai.com/python/python3%E7%99%BE%E5%BA%A6%E6%8C%87%E6%95%B0%E6%8A%93%E5%8F%96.html" target="_blank">阅读全文 »</a></h5>
					</div>
				</div>
			</div>
        <hr>
        {% include comment.html %}
	</div>
    {% include rightmenu.html %}
</div>

<style>
    .text-overflow {
        display: block;
        width: 90%;
        word-break: keep-all;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
	
	.tag {
    background: url({{ "/static/jpg/tag.png" | prepend: site.baseurl }}) no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 0;
	}
	
	.timet {
    background: url({{ "/static/jpg/time.png" | prepend: site.baseurl }}) no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 0;
	}
	
	.topicc {
    background: url({{ "/static/jpg/wenzhang.gif" | prepend: site.baseurl }}) no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 0;
	}
	
	body {
		background-color: #f4f4f4;
		color: #666666;
	}
</style>

