---
layout: default
---
<script type="text/javascript" src="{{ "/static/js/jquery.q.js" | prepend: site.baseurl }}"></script>

<style>
    .text-overflow {
        display: block;
        width: 90%;
        word-break: keep-all;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>


<div class="container">
    <h1>分类列表</h1>
    <div class="page-header">
        <div id="yy">

        </div>
    </div>
</div>

<script>
    (function () {
        var dataStr = '{ {% for cat in site.categories %}{% if cat[0] != site.categories.first[0] %},{% endif %}"{{ cat[0] }}":[{% for post in cat[1] %}{% if post != cat[1].first %},{% endif %}{% for category in post.categories %}{"desc":"{{post.desc}}","category":"{{ category }}","author":"{{post.author}}","url":"{{post.url | prepend: site.baseurl}}", "title":"{{post.title}}", "date":"{{post.date | date:"%Y-%m-%d"}}"}{% endfor %}{% endfor %}]{% endfor %} }';
        //console.log(dataStr)
        data = JSON.parse(dataStr);
        curTag = $.query.get("cat");
        //alert(curTag);
        archieves = data[curTag];
//alert(archieves);
        var k = '';
        for (i in archieves) {
            var aaa = "<div>";
            aaa += "<hr><h3><a href = '" + archieves[i]['url'] + "' > " + archieves[i]['title'] + "</a></h3>";
            aaa += "<small>分类：" + archieves[i]['category'] + "</small>";
            aaa += "<h6 class='text-muted'>作者:" + archieves[i]['author'] + "&nbsp;&nbsp;文章发表于" + archieves[i]['date'];
            aaa += "</h6><div>";
            aaa += "<p class='content text-overflow'>" + archieves[i]['desc'] + "</p></div></div>";
            k += aaa;
        }
        var div = document.getElementById("yy");
        div.innerHTML = k;

        //alert(k)
        //console.log(k)
    })();

</script>
