---
layout: default
---

<div class="container">
    <h1>文章列表</h1>
    <div class="page-header">
        {% for post in site.posts %}
        <hr>
        <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        {% for category in post.categories %}
        <small>
            分类：<a href="{{ "/showCategory.html?cat=" | prepend: site.baseurl }}{{ category }}">{{ category }}</a>
        </small>
        {% endfor %}
        <h6 class="text-muted">作者:{{ post.author }}&nbsp;&nbsp;文章发表于{{ post.date | date: " %Y-%m-%d" }}</h6>
        <p class="content text-overflow">
            {% if post.desc %}
            {{ post.desc }}
            {% else %}
            {{ post.excerpt | strip_html }}
            {% endif %}
        </p>
		
		<h3><a href="{{ post.url | prepend: site.baseurl }}">阅读全文 »</a></h3>
		<p></p>
        {% endfor %}
		
    </div>
</div>

<style>
    .text-overflow {
        display: block;
        width: 90%;
        word-break: keep-all;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>
