---
layout: default
---

<!-- 遍历分页后的文章 -->

<div class="container">
    <div class="page-header">
        {% for post in site.posts %}
        <hr>
        <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        {% for category in site.categories %}
        <small>
            {{ category | first }}
        </small>
        {% endfor %}
        <h6 class="text-muted">作者：{{ page.author }} 文章发表于{{ post.date | date: " %Y-%m-%d" }}</h6>
        <p class="content text-overflow">
            {% if post.desc %}
            {{ post.desc }}
            {% else %}
            {{ post.excerpt | strip_html }}
            {% endif %}
        </p>
        {% endfor %}
    </div>
</div>

<style>
    .text-overflow {
        display: block;
        width: 90%;
        word-break: keep-all;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

