---
layout: default
---

<div class="container">
    <h1>文章列表</h1>
    <div class="page-header">
        {% for post in site.posts %}
        <hr>
        <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        {% for category in post.categories %}
        <small>
            分类：<span class="tag"><a href="{{ "/showCategory.html?cat=" | prepend: site.baseurl }}{{ category }}">{{ category }}</span></a>
        </small>
        {% endfor %}
        <h6 class="text-muted">作者:{{ post.author }}&nbsp;&nbsp;<span class="timet">{{ post.date | date: " %Y-%m-%d" }}</span></h6>
        <p class="content text-overflow">
            {% if post.desc %}
            <span class="abs">{{ post.desc }}</span>
            {% else %}
            {{ post.excerpt | strip_html }}
            {% endif %}
        </p>
		
		<h5><a href="{{ post.url | prepend: site.baseurl }}">阅读全文 »</a></h5>
		<p></p>
        {% endfor %}
		
    </div>
</div>

<style>
    .text-overflow {
        display: block;
        width: 90%;
        word-break: keep-all;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
	
	.tag {
    background: url({{ "/static/jpg/tag.png" | prepend: site.baseurl }}) no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 0;
	}
	
	.timet {
    background: url({{ "/static/jpg/time.png" | prepend: site.baseurl }}) no-repeat left center;
	padding-left: 10px;
	margin: 0 10px 0 0;
	}
	
	.abs {
    background: url({{ "/static/jpg/abs.png" | prepend: site.baseurl }}) no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 0;
	}
</style>


