 <!--&lt;!&ndash;多说评论框 start &ndash;&gt;-->
<!--<div class="ds-thread" data-thread-key="{{ page.url | prepend: site.baseurl | prepend: site.url }}"-->
     <!--data-title="{{ page.title }}" data-url="{{ page.url | prepend: site.baseurl | prepend: site.url }}"></div>-->
<!--&lt;!&ndash; 多说评论框 end &ndash;&gt;-->
<!--&lt;!&ndash; 多说公共JS代码 start (一个网页只需插入一次) &ndash;&gt;-->
<!--<script type="text/javascript">-->
<!--var duoshuoQuery = {short_name:"ttyb"};-->
	<!--(function() {-->
		<!--var ds = document.createElement('script');-->
		<!--ds.type = 'text/javascript';ds.async = true;-->
		<!--ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';-->
		<!--ds.charset = 'UTF-8';-->
		<!--(document.getElementsByTagName('head')[0]-->
		 <!--|| document.getElementsByTagName('body')[0]).appendChild(ds);-->
	<!--})();-->

<!--</script>-->
<!--&lt;!&ndash; 多说公共JS代码 end &ndash;&gt;-->

<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2128227"></script>
<!-- UY END -->
