<link href="{{ "/static/css/unical.css" | prepend: site.baseurl }}" rel="stylesheet"/>
<p class="copyright text-muted" style="font-size: 10px;">网站已运行<span id="span_dt_dt"></span></p>
<script language=javascript> 
	 function show_date_time() { 
		 window.setTimeout("show_date_time()", 1000); 
		 BirthDay = new Date("12/20/2016"); 
		 today = new Date(); 
		 timeold = (today.getTime() - BirthDay.getTime()); 
		 sectimeold = timeold / 1000 
		 secondsold = Math.floor(sectimeold); 
		 msPerDay = 24 * 60 * 60 * 1000 
		 e_daysold = timeold / msPerDay 
		 daysold = Math.floor(e_daysold); 
		 e_hrsold = (daysold - e_daysold) * -24; 
		 hrsold = Math.floor(e_hrsold); 
		 e_minsold = (hrsold - e_hrsold) * -60; 
		 minsold = Math.floor((hrsold - e_hrsold) * -60); 
		 seconds = Math.floor((minsold - e_minsold) * -60); 
		 span_dt_dt.innerHTML = daysold + "天" + hrsold + "小时" + minsold + "分" + seconds + "秒。"; 
	 } 
	 show_date_time();
</script>
<table cellpadding="0" cellspacing="0" id="CalendarTab">
	<tr>
		<td>
			<div id="cal">
				<div id="top">
					公元<select></select> 年 <select></select>月  农历<span></span>年  <span></span>年 
					<input type="button" value="回到今天" title="点击后跳转回今天" style="padding:0px">
				</div>
				<ul id="wk">
					<li>一</li>
					<li>二</li>
					<li>三</li>
					<li>四</li>
					<li>五</li>
					<li><b>六</b></li>
					<li><b>日</b></li>
				</ul>
				<div id="cm"></div>
			</div>
		</td>
	</tr>
</table>
<script type="text/javascript" src="{{ "/static/js/unical.js" | prepend: site.baseurl }}"></script>