
<a class="gototop" title="返回顶部" target="_self" href="javascript:void(0)"></a>

<div class="container">
    <div id="footer" class="text-muted">
        <h3 style="font-size: 1.2em;font-family: KaiTi;">无聊就想打码 打码使我快乐</h3>
        <div style="font-size: 1.2em;font-family: KaiTi;">
            不用多久<br/>
            我就会升职加薪<br/>
            当上总经理<br/>
            出任CEO<br/>
            迎娶白富美<br/>
            走上人生巅峰
        </div>
    </div>
</div>
<footer id="footer">
    <ul class="icons">
        <li><a href="/contact" class="icon fa-qq"><span class="label">QQ</span></a></li>
        <li><a href="https://github.com/TTyb" class="icon fa-github"><span class="label">Github</span></a></li>
        <li><a href="/" class="icon fa-home"><span class="label">首页</span></a></li>
        <li><a href="http://www.lenggirl.com/" class="icon fa-heart"><span class="label">一只尼玛</span></a></li>
        <li><a href="/cloud" class="icon fa-cloud"><span class="label">云世界</span></a></li>
        <li><a href="/404" class="icon fa-map-signs"><span class="label">404</span></a></li>
    </ul>
    <p class="copyright">Copyright &copy; TTyb All rights reserved.</p>
	<div class="copyright">
		<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261864966'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261864966%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
	</div>
</footer>

<script type="text/javascript" src="{{ "/static/js/jquery.gototop.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
    $(function(){
            // $(".gototop").gototop();
            $(".gototop").gototop({
                position : 0,
                duration : 1250,
                visibleAt : 300,
                classname : "isvisible"
            });
        });
</script>

