<div class="container">
    <div id="footer" class="text-muted" style="font-size: 1.2em;font-family: KaiTi;">不用多久<br/>
        我就会升职加薪<br/>
        当上总经理<br/>
        出任CEO<br/>
        迎娶白富美<br/>
        走上人生巅峰
    </div>
</div>
<footer id="footer">
    <ul class="icons">
        <li><a href="/contact" class="icon fa-qq""><span class="label">QQ</span></a></li>
        <li><a href="https://github.com/TTyb" class="icon fa-github"><span class="label">Github</span></a></li>
        <li><a href="/" class="icon fa-home"><span class="label">首页</span></a></li>
        <li><a href="http://www.cnblogs.com/TTyb/" class="icon fa-heart"><span class="label">博客园</span></a></li>
        <li><a href="/404" class="icon fa-map-signs"><span class="label">404</span></a></li>
    </ul>
    <p class="copyright">Copyright &copy; TTyb All rights reserved.</p>
</footer>

