
<a class="gototop" title="返回顶部" target="_self" href="javascript:void(0)"></a>
<div style="background: url('/static/jpg/suche_bg.jpg') repeat scroll 0 0 rgba(0, 0, 0, 0);border-top: 1px dashed #aaa;">
	<div class="container col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-3 col-sm-3 col-md-3">
			<div id="footer" class="text-muted" style="clear:both;">
				<h2 style="font-family: Times New Roman;">Fork me on Github</h2>
				<a class="btn_orange" title="Fork me on Github" href="https://github.com/TTyb/TTyb.github.io">Fork TTyb</a>
			</div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3">
			<div id="footer" class="text-muted">
				<img src="{{ "/static/jpg/5996148-20171109092302138-1808466605.png" | prepend: site.baseurl }}" alt=""/>				
				<hr style="height:1px;border:none;border-top:1px dashed ;margin:20px 0 5px 0;"/>
				<ul class="icons text-muted">
					<li><a href="/contact" class="icon fa-weixin"><span class="label">QQ</span></a></li>
					<li><a href="https://github.com/TTyb" class="icon fa-github fa-6"><span class="label">Github</span></a></li>
					<li><a href="mailto:420439007@qq.com" class="icon fa-envelope fa-3"><span class="label">420439007@qq.com</span></a></li>
					<li><a href="http://www.cnblogs.com/TTyb" class="icon fa-heart fa-3"><span class="label">TTyb</span></a></li>
					<li><a href="/cloud" class="icon fa-cloud fa-3"><span class="label">云世界</span></a></li>
					<li><a href="/404" class="icon fa-map-signs fa-3"><span class="label">404</span></a></li>
				</ul>

			</div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3">
			<div id="footer" class="text-muted">
				<h3 style="font-size: 1.2em;font-family: KaiTi;color: #FFFFFF">导航</h3>
				<div style="font-size: 1.2em;font-family: KaiTi;text-decoration: none;">
					<a style="text-decoration: none;" href="/">网站首页</a><br/>
					<a style="text-decoration: none;" href="/topic">文章随笔</a><br/>
					<a style="text-decoration: none;" href="/category">分类标签</a><br/>
					<a style="text-decoration: none;" href="/logs/log">修订日志</a><br/>
					<a style="text-decoration: none;" href="/guestbook">游客留言</a><br/>
					<a style="text-decoration: none;" href="/crawlerfirst/_爬虫教程.html">爬虫教程</a><br/>
					<a style="text-decoration: none;" href="/openSourceProject">开源项目</a>
				</ul>					
				</div>
			</div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3">
			<div id="footer" class="text-muted">
				<h3 style="font-size: 1.2em;font-family: KaiTi;">无聊就想打码 打码使我快乐</h3>
				<div style="font-size: 1.2em;font-family: KaiTi;">
					不用多久<br/>
					我就会升职加薪<br/>
					当上总经理<br/>
					出任CEO<br/>
					迎娶白富美<br/>
					走上人生巅峰
				</div>
			</div>
		</div>
	</div>
	
	<div class="divider-demo"></div>
	
	<footer id="footer">
		<p class="copyright text-muted">Copyright &copy; 2017-2018 by TTyb. All rights Reserved. <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备17055432号-1</a></p>
		<div class="copyright text-muted">
			<!-- 站长统计 -->
			<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261864966'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261864966%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
		</div>
	</footer>
<div>
<script type="text/javascript" src="{{ "/static/js/jquery.gototop.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
    $(function(){
            // $(".gototop").gototop();
            $(".gototop").gototop({
                position : 0,
                duration : 1250,
                visibleAt : 300,
                classname : "isvisible"
            });
        });
</script>

<style>
.divider-demo {
    background: url("/static/jpg/divider_line.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    clear: both;
    display: block;
    margin-bottom: -20px;
    padding-top: 38px;
    width: 100%;
}
@font-face {
	font-family: Alex Brush;
	src: url("/static/fonts/Alex Brush.ttf");
}
a.btn_orange {
    border: 3px solid #cccccc;
    border-radius: 2px;
    box-shadow: 0 0 2px #666;
    display: inline-block;
    font-size: 14px;
    margin: 10px 0 10px 3px;
    padding: 10px 15px;
    text-shadow: 1px 1px 1px #000;
	color: #999;
    cursor: pointer;
    line-height: inherit;
    text-decoration: none;
	font-family: Times New Roman;
}
</style>
