<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand brand" href="/">TTyb|个人网站</a>
        <div style="font-size: 6px;font-family: serif;">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="/">首页</a></li>
                <li><a class="navbar-brand" href="/topic">文章</a></li>
                <li><a class="navbar-brand" href="/category">分类</a></li>
                <li><a class="navbar-brand" href="/log">日志</a></li>
            </ul>
        </div>
    </div>
</div>