<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a type="button" class="navbar-toggle" data-toggle = "collapse"  data-target = "#target-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="navbar-brand brand" href="/">TTyb|个人网站</a>
        </div>
        <div style="font-family: serif;text-decoration: none;" class="collapse navbar-collapse navbar-responsive-collapse" id = "target-menu">
            <ul style="margin: 0 0 0;">
				<ul class="nav navbar-nav pull-right" style="margin: 0 0 0;">
					<li>
						<a data-toggle="dropdown" class="dropdown-toggle navbar-brand" href="javascript:void(0)">友情链接
						<strong class="caret" style="margin-left: -5px;"></strong></a>
						<ul class="dropdown-menu container-fluid" style="border-radius: 6px 6px 6px 6px;">
							<li><a href="http://www.cnblogs.com/TTyb">TTyb博客园</a></li>
							<li><a href="http://www.cnblogs.com/nima">一只尼玛博客园</a></li>
							<li><a href="https://github.com/TTyb">TTybGithub</a></li>
							<li><a href="http://www.cjhug.me/">搬砖的陈大师</a></li>
							<li><a href="http://www.cnblogs.com/starwater/">星水博客园</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav" style="margin: 0 0 0;">
					<li><a class="navbar-brand" href="/">首页</a></li>
					<li><a class="navbar-brand" href="/topic">文章</a></li>
					<li><a class="navbar-brand" href="/category">分类</a></li>
					<li><a class="navbar-brand" href="/logs/log">日志</a></li>
					<li><a class="navbar-brand" href="/guestbook">留言</a></li>				
					<li><a href="/contact" class="navbar-brand">联系</a></li>
					{% for post in site.posts %}
					{% if post.categories[0] == "crawler" %}
					<li>
						<a class="navbar-brand" style="background: url({{ "/static/jpg/newimg.png" | prepend: site.baseurl }}) no-repeat right top" href="{{ post.url | prepend: site.baseurl }}">爬虫教程</a>
					</li>
					{% endif %}
					{% break %}
					{% endfor %}
				</ul>
				
            </ul>
        </div>
    </div>
</div>
