<div class="col-xs-12 col-sm-12 col-md-12" style="clear:both;margin-top:60px">
	<!--这里是爬虫教程-->
	<div class="media thumbnail mytrans" style="font-family:Microsoft YaHei;padding: 20px 0;">
		<div class="col-xs-5 col-sm-5 col-md-4">
			<a href="javascript:void(0)" class="media-left media-middle media-bottom" style="float:left;">
				<img style="border-radius: 4px;" src="/static/jpg/webspider.jpg" height="178" width="100%"/>
			</a>
		</div>
		
		<div class="col-xs-7 col-sm-7 col-md-8">
			<div class="media-body" style="float:left;padding-right:10px">
				{% for post in site.categories['crawlerfirst'] %}
				<h4><a href="{{ post.url | prepend: site.baseurl }}" style="color:#333;font-weight:bold">{{ post.title }}</a></h4>
				<h6 class="text-muted">
				<span style="padding-right:5px">作者：{{ post.author }}</span><span class="topicc"></span>文章发表于：<span class="timet">{{ post.showdate }}</span>分类：<span class="tag">crawler</span>
				</h6>
					<p style="word-wrap:break-word; word-break:normal;">在作者学习的众多编程技能中，爬虫技能无疑是最让作者着迷的。与自己闭关造轮子不同，爬虫的感觉是与别人博弈，一个在不停的构建 反爬虫 规则，一个在不停的破译规则。</p>
					<h5 class="pull-right" style="width: 120px;"><a class="contactme" title="阅读全文" href="{{ post.url | prepend: site.baseurl }}">阅读全文 »</a></h5>
				{% endfor %}
			</div>
		</div>
		<p class="hot">
			热
			<span class="triangle"></span>
		</p>
	</div>
	
	<!--这里是百度网盘-->
	<div class="media thumbnail" style="font-family:Microsoft YaHei;padding: 20px 0;">
		<div class="col-xs-5 col-sm-5 col-md-4">
			<a href="javascript:void(0)" class="media-left media-middle media-bottom" style="float:left;">
				<img style="border-radius: 4px;" src="/static/jpg/opensourceproject.jpg" height="178" width="100%"/>
			</a>
		</div>
		
		<div class="col-xs-7 col-sm-7 col-md-8">
			<div class="media-body" style="float:left;padding-right:10px">
				<h4><a href="/openSourceProject" style="color:#333;font-weight:bold" target="_blank">开源项目</a></h4>
				<h6 class="text-muted">
				<span style="padding-right:5px">作者：TTyb</span><span class="topicc"></span>文章发表于：<span class="timet">2017-10-26</span>分类：<span class="tag">开源项目</span>
				</h6>
					<p style="word-wrap:break-word; word-break:normal;">开源项目，顾名思义是开放式源代码项目。里面公开了大量的爬虫项目，并且实时在进行维护。如果读者有难以解决的大型爬虫项目，可以在留言委托作者免费进行抓取，唯一的要求是作者将会将其项目和源码公布在此页面。</p>
					<h5 class="pull-right" style="width: 120px;"><a class="contactme" title="前往项目" href="/openSourceProject" target="_blank">前往项目 »</a></h5>
			</div>
		</div>
		<p class="newtag">
			新
			<span class="triangle" style="border-right: 10px solid #0457fd !important;"></span>
		</p>
	</div>
	
	<!--这里是github-->
	<div class="media thumbnail" style="font-family:Microsoft YaHei;padding: 20px 0;">
		<div class="col-xs-5 col-sm-5 col-md-4">
			<a href="javascript:void(0)" class="media-left media-middle media-bottom" style="float:left;">
				<img style="border-radius: 4px;" src="/static/jpg/github.jpg" height="158" width="100%"/>
			</a>
		</div>
		
		<div class="col-xs-7 col-sm-7 col-md-8">
			<div class="media-body" style="float:left;padding-right:10px">
				<h4><a href="https://github.com/TTyb" style="color:#333;font-weight:bold;font-family: Times New Roman;" target="_blank">Github</a></h4>
				<h6 class="text-muted">
				<span style="padding-right:5px">作者：TTyb</span><span class="topicc"></span>文章发表于：<span class="timet">2016-07-21</span>分类：<span class="tag">Github</span>
				</h6>
					<p style="word-wrap:break-word; word-break:normal;font-family: Times New Roman;">The Github was established in 21 Jul 2016.A data mining engineer who have to analyze data analyze, mining data mining,learn machine learning,programming and repair computers.</p>
					<h5 class="pull-right" style="width: 120px;"><a class="contactme" title="前往Github" href="https://github.com/TTyb" target="_blank">Github »</a></h5>
			</div>
		</div>
	</div>
	
	<!--这里是博客园-->
	<div class="media thumbnail" style="font-family:Microsoft YaHei;padding: 20px 0;">
		<div class="col-xs-5 col-sm-5 col-md-4">
			<a href="javascript:void(0)" class="media-left media-middle media-bottom" style="float:left;">
				<img style="border-radius: 4px;" src="/static/jpg/bokeyuan.jpg" height="168" width="100%"/>
			</a>
		</div>
		
		<div class="col-xs-7 col-sm-7 col-md-8">
			<div class="media-body" style="float:left;padding-right:10px">
				<h4><a href="http://www.cnblogs.com/TTyb" style="color:#333;font-weight:bold" target="_blank">博客园</a></h4>
				<h6 class="text-muted">
				<span style="padding-right:5px">作者：TTyb</span><span class="topicc"></span>文章发表于：<span class="timet">2016-07-21</span>分类：<span class="tag">博客园</span>
				</h6>
					<p style="word-wrap:break-word; word-break:normal;">身为一名数据挖掘工程师，要会数据分析，要会数据挖掘，要会机器学习，要会编程打码，重点还要会修电脑</p>
					<p style="word-wrap:break-word; word-break:normal;">无聊就想打码，打码使我快乐。TTyb技术博客成立于2016-07-21</p>
					<h5 class="pull-right" style="width: 120px;"><a class="contactme" title="前往博客" href="http://www.cnblogs.com/TTyb" target="_blank">前往博客 »</a></h5>
			</div>
		</div>
	</div>
	
</div>
<style>
    .text-overflow {
        display: block;
        width: 90%;
        word-break: keep-all;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
	
	.timet {
    background: url({{ "/static/jpg/time.png" | prepend: site.baseurl }}) no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 0;
	}
	.topicc {
    background: url({{ "/static/jpg/wenzhang.gif" | prepend: site.baseurl }}) no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 0;
	}
	
	.tag {
    background: url({{ "/static/jpg/tag.png" | prepend: site.baseurl }}) no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 0;
	}
	
	.hot {
    background-color: #db4659;
    color: #fff;
    height: 24px;
    left: 5px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    width: 30px;
    z-index: 145;
	}
	
	.newtag {
    background-color: #3472ef;
    color: #fff;
    height: 24px;
    left: 5px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    width: 30px;
    z-index: 145;
	}
	
	span.triangle {
    border-bottom: 7px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #df0d3a;
    height: 0;
    left: -10px;
    position: absolute;
    top: 24px;
    width: 0;
    z-index: 33;
	}
	
</style>

