<hr style="background-color:#ddd;background-image:repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);border:medium none;box-sizing:content-box;height:3px;">
<div class="container">
	<!--文章列表-->
	{% for post in paginator.posts %}
		<div class="col-xs-12 col-sm-12 col-md-12 media thumbnail" style="clear:both;margin-top:20px">
			<div class="col-xs-4 col-sm-4 col-md-3" style="padding: 20px">
				<a href="javascript:void(0)" class="media-left media-middle media-bottom" style="float:left;">
					<img style="border-radius: 4px;" src="{{ "/static/jpg/" | prepend: site.baseurl }}{{ post.categories.first }}{{".jpg"}}" height="120" width="100%"/>
				</a>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-9 media-body">

				<h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
				<small class="text-muted">
					分类：<i class="fa fa-tag"></i>&nbsp;<a href="{{ "/showCategory.html?cat=" | prepend: site.baseurl }}{{ post.categories.first }}">{{ post.categories.first }}</a>
				</small>
				<h6 class="text-muted"><i class="fa fa-user"></i>&nbsp;{{ post.author }}&nbsp;<i class="fa fa-calendar"></i>&nbsp;{{ post.date | date: " %Y-%m-%d" }}&nbsp;<i class="fa fa-pencil-square"></i>&nbsp;{{post.content | number_of_words}}</h6>
				<p class="content text-overflow">
					{% if post.desc %}
					{{ post.desc }}
					{% else %}
					{{ post.excerpt | strip_html }}
					{% endif %}
				</p>
				<h5 class="pull-right" style="width: 120px;"><a class="contactme" title="阅读全文" href="{{ post.url | prepend: site.baseurl }}">阅读全文&raquo;</a></h5>
			</div>
		</div>
	{% endfor %}
	
	<!--页码-->
	<div style="text-align:center">
		<ul class="pagination">
			<li>
				<a href="{{ site.baseurl}}/">
					<span>首页</span>
				</a>
			</li>
			<li>
			{% if paginator.page == 1 %}
				<span>&laquo;</span>
			{% else %}
				{% if paginator.previous_page == 1 %}
				<a href="{{ site.baseurl}}/">
				{% else %}
				<a href="{{ site.baseurl}}/page{{ paginator.previous_page }}">
				{% endif %}
					<span>&laquo;</span>
				</a>
			{% endif %}
			</li>
			{% for i in (1..paginator.total_pages) limit:9 offset:{{paginator.page-1}} %}
				{% if paginator.page == i %}
			<li class="active">
				{% else %}
			<li>
				{% endif %}
				{% if i == 1 %}
				<a href="{{site.baseurl}}/">{{i}}</a>
				{% else %}
				<a href="{{site.baseurl}}/page{{i}}">{{i}}</a>
				{% endif %}
			</li>
			{% endfor %}
			<li>
				{% if paginator.page == paginator.total_pages %}
				<span>&raquo;</span>
				{% else %}
				<a href="{{ site.baseurl}}/page{{ paginator.next_page }}">
					<span>&raquo;</span>
				</a>
				{% endif %}
			</li>
			<li>
				<a href="{{ site.baseurl}}/page{{paginator.total_pages}}">
					<span>末页</span>
				</a>
			</li>
			<li class="disabled">
				<span>第{{paginator.page}}页 / 共{{paginator.total_pages}}页</span>
			</li>
		</ul>
	</div>
</div>