<!DOCTYPE html>
<html>

{% include head.html %}

<body>
{% include header.html %}
<div class="container">
	<script type="text/javascript">$.backstretch('https://bing.ioliu.cn/v1?d=0&1920x1200');</script>
	<div class="col-xs-7 col-sm-7 col-md-9">
		<h1 style="background-image:linear-gradient(90deg, #f79533 0px, #f37055 15%, #ef4e7b 30%, #a166ab 44%, #5073b8 58%, #1098ad 72%, #07b39b 86%, #6dba82 100%);border-radius: 4px;color: #fff">
			日志列表
		</h1>
		<div class="page-header" style="background-color: #fff;border-radius: 4px;padding: 20px;margin-top: 0">
			{{ content }}
		</div>
	</div>
    {% include rightmenu.html %}
</div>
{% include footer.html %}
</body>
</html>